* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(84, 5, 129);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 350px;
    height: 500px;
    box-shadow: 0 0 5px rgb(128, 128, 128);
    perspective: 1000;
}

.inner-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000d5, #000000d5), url(Image/download.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-back {
    transform: rotateY(180deg);
}

h1 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1rem;
    color: white;
    padding: 20px 10px;
}

input,
button {
    padding: 10px;
    outline: none;
    border: none;
    margin: 0 10px 10px;
}

button {
    background-color: rgb(0, 0, 102);
    color: white;
    cursor: pointer;
    transition: .5s;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: 2px;
}

button:hover {
    border-radius: 2px solid rgb(0, 0, 102);
    background-color: white;
    color: rgb(0, 0, 102);

}

.qr-scanner {
    cursor: pointer;
    background-color: white;
    padding: 5px;
    width: 100px;
    text-align: center;
    color: black;
    position: absolute;
    bottom: 5px;
    left: 37%;
    font-size: .5rem;
    transition: all .5s;
}

.qr-scanner:hover {
    box-shadow: 4px 4px 0px white;
    background-color: rgb(0, 0, 102);
    border: 2px solid white;
    color: white;
}

.Qr-card {
    width: 270px;
    height: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0 10px;
    transition: height .10s;
}

.Qr-card.active {
    height: 300px;
}

.animate {
    animation: shake .1s linear 5;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0);
    }
}

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reader {
    width: 300px;

}

#result {
    text-align: center;
    font-size: 1.5rem;
}

.qr-scanner2 {
    cursor: pointer;
    background-color: white;
    padding: 5px;
    width: 100px;
    text-align: center;
    color: black;
    position: absolute;
    bottom: 5px;
    left: 40%;
    font-size: .5rem;
    transition: all .5s;
}

.qr-scanner2:hover {
    box-shadow: 4px 4px 0px white;
    background-color: rgb(0, 0, 102);
    border: 2px solid white;
    color: white;
}